body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-horizontal-scrolling-menu--scroll-container {
  padding: 8px;
}

.MuiAlert-message {
  width: 100%;
  overflow: inherit!important;
  padding: 0px!important;
}

.css-1i1ci34-MuiPaper-root-MuiAlert-root {
  padding: 0px!important;
}

:root {
  --height-header: 75px;
  --height-footer: 75px;
  --min-height-body-content: calc(100vh - var(--height-header) - var(--height-footer));
}
